*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    align-content: center;
    height: 100vh;

}

.open__modal{
    transition: 5s;

    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    font-size: 24px;
    border: none;
    color: #fff;
    background-color: rgba(137, 43, 226, 0.714);
}



.modal_wrapper{
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.364);
    width: 100vw;
    height: 100vh;
}
.modal{
    height: 400px;
    width: 600px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 40px 70px;
    background-color: #fff;
    
    transition: 5s;

}
.modal >p{
font-size: 20px;
font-family: sans-serif;
line-height: 28px;
}


.close__button{
    transition: 5s;

    width: 30px;
    height: 30px;
    background-color: red;
    font-size: 20px;
    border: none;
    color: #fff;
    padding: 2px 2px 0 2px;
    border-radius: 10px;
    margin:0px 0px 20px 420px;
}